body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(70, 70, 228);
margin:0;
display:flex;
flex-direction: column;
align-items: center;
}
h1{
    color: rgb(204, 204, 243);
font-family:Verdana, Geneva, Tahoma, sans-serif;
border: 20px;
border-radius: 10px;
border-color: aliceblue;

}
input{
    border-radius: 10px;
    border-color: black;
    margin: 20px;
    padding: 50px;

}
button{
    border-radius: 20px;
    border-color: lightseagreen;
}
